.weather-app {
  background-color: #5a8fed;
  max-width: 658px;
  margin: 30px auto;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  padding: 30px;
  border-radius: 36px;
}
.search-form {
  margin-left: 180px;
  border-radius: 100px;
}
.search-field {
  font-family: "Manrope";
  font-weight: lighter;
  color: #b3b3b3;
  border-color: #b3b3b3;
  border-radius: 100px;
  padding: 6px 10px;
  border-width: thin;
}
.search-submit {
  font-family: "Manrope";
  font-weight: lighter;
  color: #b3b3b3;
  border-color: #b3b3b3;
  padding: 6px 6px;
  border-width: thin;
  border-radius: 100px;
  background-color: white;
}
