.weather-app {
  background-color: #5a8fed;
  max-width: 658px;
  margin: 30px auto;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  padding: 30px;
  border-radius: 36px;
}
.search-form {
  margin-left: 180px;
  border-radius: 100px;
}
.search-field {
  font-family: "Manrope";
  font-weight: lighter;
  color: #b3b3b3;
  border-color: #b3b3b3;
  border-radius: 100px;
  padding: 6px 10px;
  border-width: thin;
}
.search-submit {
  font-family: "Manrope";
  font-weight: lighter;
  color: #b3b3b3;
  border-color: #b3b3b3;
  padding: 6px 6px;
  border-width: thin;
  border-radius: 100px;
  background-color: white;
}
#today {
  font-family: "Manrope";
  font-weight: 600;
  font-size: 23px;
  text-align: center;
  padding-top: 20px;
  color: white;
}
#time {
  font-family: "Sora";
  font-weight: 300;
  text-align: center;
  font-size: 20px;
  color: white;
}
.smoji {
  font-size: 100px;
  margin: 0 230px 0 230px;
  width: 50%;
}
#city {
  font-family: "Manrope";
  font-weight: 600;
  font-size: 30px;
  text-align: center;
  color: white;
}
#temp {
  font-family: "Sora";
  font-weight: 600;
  font-size: 30px;
  color: white;
}
#tempsymbol {
  font-family: "Sora";
  font-weight: 400;
  font-size: 20px;
  color: white;
}
